
#controls {
    background-color: rgba(245, 245, 245, .8);
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: 5%;
    top: 10%;
}

#controls .btn {
    display: block;
    margin-top: .5em;
}

#map_output textarea {
    font-family: monospace;
    font-size: .85em;
    height: 15em;
    line-height: 1em;
    width: 98%;
    white-space: pre;
}

#map_canvas {
    position; relative;
}

.popover-inner {
    padding: 2px;
}
    .popover-title, .popover-content {
        padding: .4em .6em;
    }
    .popover-title {
        font-size: 1.1em;
    }
    .popover-content {
        font-size: .9em;
    }
        .popover-title input {
            margin: 0;
            width: 96%;
        }

