
#controls {
    background-color: rgba(245, 245, 245, .8);
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: 5%;
    top: 10%;
}

    #controls .btn {
        display: block;
        margin-top: .5em;
    }

    #controls .separator {
        height: 1px;
        padding: 0;
    }

#map_output textarea {
    font-family: monospace;
    font-size: .85em;
    height: 20em;
    line-height: 1em;
    width: 98%;
    white-space: pre;
}

#map_canvas {
    position; relative;
}


#edit {
    position: absolute;
    z-index: 1000;
}
    #edit .arrow {
        top: 2em;
    }

    #edit .popover-inner {
        padding: 2px;
    }
        #edit .popover-title, #edit .popover-content {
            padding: .4em .6em;
        }
        #edit .popover-title {
            font-size: 1.1em;
        }
        #edit .popover-content {
            font-size: .9em;
        }
            #edit .popover-title input {
                margin: 0;
                width: 82%;
            }
            #edit .popover-title .icon {
                cursor: pointer;
                display: block;
                float: right;
                height: 32px;
                opacity: .7;
                overflow: hidden;
                width: 32px;
            }
                #edit .popover-title .icon:hover {
                    opacity: 1;
                }
            #edit .popover-title .icon img {
                position: relative;
                top: -3px;
            }

    #edit .control-group {
        margin-bottom: .5em;
    }
    #edit form, #edit .control-group:last-child {
        margin-bottom: 0;
    }

    #edit .control-label {
        width: 3em;
    }
    #edit .controls {
        margin-left: 4em;
    }

