
#controls {
	background-color: rgba(245, 245, 245, .8);
	overflow: hidden;
	padding: 10px;
	position: absolute;
	right: 5%;
	top: 10%;
}

#controls a {
	clear: left;
	float: left;
	margin-top: .5em;
}


